body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 50px;
    margin-left: 2%;
}
h3{
    margin-left: 2%;
}
.orange-color{
    color: orange;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 700;
    margin-left: 2%;
    color: beige;
}
p{
    text-align: justify;
    margin-right: 50%;
    margin-left: 2%;
}